Package: com.insanj.unread
Name: Unread
Depends: mobilesubstrate
Version: 1.0.1
Architecture: iphoneos-arm
Description: Hold to mark Messages as (un)read.
Maintainer: Julian Weiss <insanjmail@gmail.com>
Author: Julian (insanj) Weiss
Section: Tweaks