Package: com.insanj.unread
Name: Unread
Depends: mobilesubstrate
Version: 1.1
Architecture: iphoneos-arm
Description: Easily mark Messages as (un)read.
 Swipe to the right on any conversation in Messages to mark it as unread (or read, if it's already marked).
Maintainer: Julian Weiss <insanjmail@gmail.com>
Author: Julian (insanj) Weiss
Section: Tweaks